{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Профіль користувача</h2>
    <form method="post" action="{% url 'profile' %}" class="mb-4">
        {% csrf_token %}
        <div class="form-group row mb-3">
            <label for="{{ form.username.id_for_label }}" class="col-sm-2 col-form-label font-weight-bold" style="font-size: 1.2rem;">Ім'я користувача:</label>
            <div class="col-sm-10">
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.username.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label font-weight-bold" style="font-size: 1.2rem;">Ім'я:</label>
            <div class="col-sm-10">
                {{ form.first_name }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.last_name.id_for_label }}" class="col-sm-2 col-form-label font-weight-bold" style="font-size: 1.2rem;">Прізвище:</label>
            <div class="col-sm-10">
                {{ form.last_name }}
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label font-weight-bold" style="font-size: 1.2rem;">Email адреса:</label>
            <div class="col-sm-10">
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Зберегти зміни</button>
    </form>

    <form method="get" action="{% url 'password_change' %}">
        <button type="submit" class="btn btn-secondary">Змінити пароль</button>
    </form>

    <h3 class="mb-3">Бажані книжки</h3>
    {% if favorite_books %}
    <div class="favorite-books">
        {% for favorite in favorite_books %}
            <a href="{% url 'book_detail' favorite.book.id %}">{{ favorite.book.title }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}.
    </div>
    {% else %}
    <p>У вас немає бажаних книжок.</p>
    {% endif %}
    <br>
    <h3 class="mb-3">Ваші замовлення</h3>
    {% if orders %}
    <div class="row">
        {% for order in orders %}
        <div class="col-md-6 mb-3 d-flex align-items-stretch">
            <div class="card order-card w-100">
                <div class="card-body">
                    <h4 class="card-title">Замовлення №{{ order.order_number }} від {{ order.created_at }}</h4>
                    <p class="card-text">Адреса доставки: {{ order.delivery_address }}</p>
                    <p class="card-text">Метод оплати: {{ order.get_payment_method_display }}</p>
                    <p class="card-text">Указаний номер телефону: {{ order.contact_phone }}</p>
                    <ul>
                        {% for item in order.items.all %}
                        <li>{{ item.book.title }} - {{ item.quantity }} x {{ item.unit_price }} = {{ item.total_price }}</li>
                        {% endfor %}
                    </ul>
                    <p class="card-text"><strong>Загальна сума: {{ order.total_amount }}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>У вас немає замовлень.</p>
    {% endif %}
</div>
{% endblock content %}